<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>State</mat-label>
    <input matInput
           aria-label="State"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let key  of keys " [value]="key" >
        <img class="example-option-img" aria-hidden [src]="getFlag(key.key)" height="25">
        <span>{{key.key}}</span> |
        <small>{{key.value}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>State</mat-label>
    <input matInput
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let key  of keys " [value]="key.key" >
        <img class="example-option-img" aria-hidden [src]="getFlag(key.key.slice(0, -1))" height="25">
        <span>{{key.key}}</span> |
        <small>{{key.value}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<!--<select class="exampleOfSelect" id="firstSelect">-->
<!--  <option *ngFor="let key  of keys">-->
<!--    {{key.key}} {{key.value}}-->
<!--</option>-->
<!--</select>-->
<!--<select class="exampleOfSelect" id="secondSelect">-->
<!--  <option *ngFor="let key  of keys">-->
<!--    <img src='{{getFlag(key.key)}}'> {{key.key}} {{key.value}}-->
<!--</option>-->
<!--</select>-->

<input id="firstInput" class="firstInput" type="text" >
<img src="assets/Arrows.svg" id="arrow">
<input id="secondInput" class="secondInput" type="text">

